<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <div id="app">
      <main class="top-layout">
        <h1 class="page-title">FINEX GRILL PANS</h1>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="price">$100.00 - $280.00</div>
        <div class="product-box">
          <div class="product-swiper swiper-container">
            <ul class="product-list swiper-wrapper">
              <li class="product-item swiper-slide" @click="showBigImg(item)" v-for="item in sizeList" :key="item.id">
                <img :src="item.ico" :alt="item.ico">
                <p>{{item.title}}</p>
              </li>
            </ul>
          </div>
          <div class="swiper-button-prev"></div>
          <!--左箭头。如果放置在swiper外面，需要自定义样式。-->
          <div class="swiper-button-next"></div>
          <!--右箭头。如果放置在swiper外面，需要自定义样式。-->
        </div>
        <div class="text-box">
          <div class="left-layout">
            <div class="text" v-html="sizeList[activeIndex].desc"></div>
          </div>
          <div class="right-layout">
            <div class="size-box">
              <div class="info">
                <span>{{sizeList[activeIndex].title}}</span>
                <span>{{sizeList[activeIndex].price}}</span>
              </div>
              <div class="btns">
                <button v-for="(item, index) in sizeList" :key="item.id" :class="{on: index == activeIndex}" class="btn"
                  @click="changeIndex(index)">{{item.size}}"</button>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="size-box-list">
        <div class="size-box-item" v-for="(item, index) in sizeList" :key="item.id" :class="{on:index === activeIndex}">
          <div class="cont-tab-container">
            <ul class="cont-tab-list">
              <li class="cont-tab-item" @click="changeContIndex(item,i)" v-for="(it, i) in item.contList" :key="it.id" :class="{on:i === item.contIndex}">{{it.title}}</li>
              
            </ul>
          </div>
          <ul class="content-list">
            <li class="content-item" v-for="(it, i) in item.contList" :key="it.id" :class="{show:i === item.contIndex}" v-html="it.content"></li>
          </ul>
        </div>
      </div>
        <div class="big-img" v-show="bigImg">
          <div class="close" @click="close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <img :src="bigImg" alt="">
        </div>
    </div>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
      <script src="/public/js/vue.min.js"></script>
      <script>
        const vm = new Vue({
          el: "#app",
          data() {
            return {
              bigImg:"",
              activeIndex: 0,
              sizeList: [
                {
                  id: 0,
                  size: "8",
                  title: "8“skillet",
                  price: "$200.00",
                  ico: "/public/images/pro1.jpg",
                  pic:"/public/images/pro1.jpg",
                  desc: "1-The most versatile pan you’ll ever own. The FINEX cast iron skillet is polished smooth for perfect eggs every time. It’s a searing machine for hearty steaks, chops and salmon. It’s brilliant for baking perfect cornbread, pies and cakes. Introduce a lid and it’s great for steaming, braising and simmering. From stovetop, to oven, to grill—even over the coals—the FINEX cast iron skillet is a trusted essential you’ll pass down for generations.",
                  contIndex: 0,
                  contList: [
                    {
                      id: 0,
                      title: "Details",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 1,
                      title: "Dimensions",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 2,
                      title: "Reviews",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                  ]
                },
                {
                  id: 1,
                  size: "10",
                  title: "10“skillet",
                  price: "$300.00",
                  ico: "/public/images/pro2.jpg",
                  pic: "/public/images/pro2.jpg",
                  desc: "2-The most versatile pan you’ll ever own. The FINEX cast iron skillet is polished smooth for perfect eggs every time. It’s a searing machine for hearty steaks, chops and salmon. It’s brilliant for baking perfect cornbread, pies and cakes. Introduce a lid and it’s great for steaming, braising and simmering. From stovetop, to oven, to grill—even over the coals—the FINEX cast iron skillet is a trusted essential you’ll pass down for generations.",
                  contIndex: 0,
                  contList: [
                    {
                      id: 0,
                      title: "Details",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 1,
                      title: "Dimensions",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 2,
                      title: "Reviews",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                  ]
                },
                {
                  id: 2,
                  size: "12",
                  title: "12“skillet",
                  price: "$400.00",
                  ico: "/public/images/pro1.jpg",
                  pic: "/public/images/pro1.jpg",
                  desc: "3-The most versatile pan you’ll ever own. The FINEX cast iron skillet is polished smooth for perfect eggs every time. It’s a searing machine for hearty steaks, chops and salmon. It’s brilliant for baking perfect cornbread, pies and cakes. Introduce a lid and it’s great for steaming, braising and simmering. From stovetop, to oven, to grill—even over the coals—the FINEX cast iron skillet is a trusted essential you’ll pass down for generations.",
                  contIndex: 0,
                  contList: [
                    {
                      id: 0,
                      title: "Details",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 1,
                      title: "Dimensions",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 2,
                      title: "Reviews",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                  ]
                },
                {
                  id: 3,
                  size: "14",
                  title: "14“skillet",
                  price: "$500.00",
                  ico: "/public/images/pro2.jpg",
                  pic: "/public/images/pro2.jpg",
                  desc: "4-The most versatile pan you’ll ever own. The FINEX cast iron skillet is polished smooth for perfect eggs every time. It’s a searing machine for hearty steaks, chops and salmon. It’s brilliant for baking perfect cornbread, pies and cakes. Introduce a lid and it’s great for steaming, braising and simmering. From stovetop, to oven, to grill—even over the coals—the FINEX cast iron skillet is a trusted essential you’ll pass down for generations.",
                  contIndex: 0,
                  contList: [
                    {
                      id: 0,
                      title: "Details",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 1,
                      title: "Dimensions",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                    {
                      id: 2,
                      title: "Reviews",
                      content: `<img src="/public/images/product-content.jpg" alt="">`
                    },
                  ]
                },
              ]
            }
          },
          methods: {
            changeIndex(i) {
              this.activeIndex = i;
            },
            changeContIndex(item,i){
              item.contIndex = i;
            },
            showBigImg(item){
              this.bigImg = item.pic;
            },
            close(){
              this.bigImg = "";
            }
          }
        })
      </script>
</body>

</html>