<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <div id="fullpage">
    <section class="section page1 one">
      <div class="text-container fadeInDown">
        <div class="title">
          COOK BETTER,<br>
          WHEREVER SHOP OUR<br>
          COOKWARE SETS.
        </div>
        <div class="desc">
          Our cookware is designed to look—and cook—better as a set. Save on a lifetime of meals and memories with our cookware sets.
        </div>
        <a href="" class="more">SHOW NOW</a>
      </div>
        <img class="bg-img" src="/public/images/banner.jpg" alt="">
    </section>
    <section class="section page2">
      <div class="product-container">
        <div class="page-title">PRACTICAL INNOVATIONS.</div>
        <div class="page-content">
          <div class="left-layout">
            <div class="product-box">
              <ul class="product-list">
                <li class="product-item on">
                  <div class="pro-info">
                    <img src="/public/images/product.png" alt="" class="pro-img">
                    <div class="text">
                      3/16” wide ribs spaced 5/8” apart allow for easier cleaning and enough dry heat between ribs to deliver true grilling results.
                    </div>
                  </div>
                </li>
                <li class="product-item">
                  <div class="pro-info">
                    <img src="/public/images/product.png" alt="" class="pro-img">
                    <div class="text">
                      3/16” wide ribs spaced 5/8” apart allow for easier cleaning and enough dry heat between ribs to deliver true grilling results.
                    </div>
                  </div>
                </li>
                <li class="product-item">
                  <div class="pro-info">
                    <img src="/public/images/product.png" alt="" class="pro-img">
                    <div class="text">
                      3/16” wide ribs spaced 5/8” apart allow for easier cleaning and enough dry heat between ribs to deliver true grilling results.
                    </div>
                  </div>
                </li>
                <li class="product-item">
                  <div class="pro-info">
                    <img src="/public/images/product.png" alt="" class="pro-img">
                    <div class="text">
                      3/16” wide ribs spaced 5/8” apart allow for easier cleaning and enough dry heat between ribs to deliver true grilling results.
                    </div>
                  </div>
                </li>
                <li class="product-item">
                  <div class="pro-info">
                    <img src="/public/images/product.png" alt="" class="pro-img">
                    <div class="text">
                      3/16” wide ribs spaced 5/8” apart allow for easier cleaning and enough dry heat between ribs to deliver true grilling results.
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="right-layout">
            <div class="product-thumb">
              <ul class="thumb-list">
                <li class="thumb-item on">
                  <img src="/public/images/product-thumb.jpg" alt="">
                </li>
                <li class="thumb-item">
                  <img src="/public/images/product-thumb.jpg" alt="">
                </li>
                <li class="thumb-item">
                  <img src="/public/images/product-thumb.jpg" alt="">
                </li>
                <li class="thumb-item">
                  <img src="/public/images/product-thumb.jpg" alt="">
                </li>
                <li class="thumb-item">
                  <img src="/public/images/product-thumb.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section page1 one">
      <div class="text-container fadeInDown">
        <div class="title">
          COOK BETTER,<br>
          WHEREVER SHOP OUR<br>
          COOKWARE SETS.
        </div>
        <div class="desc">
          Our cookware is designed to look—and cook—better as a set. Save on a lifetime of meals and memories with our cookware sets.
        </div>
        <a href="" class="more">SHOW NOW</a>
      </div>
        <img class="bg-img" src="/public/images/banner.jpg" alt="">
    </section>
    <section class="section page1 one">
      <div class="text-container fadeInDown">
        <div class="title">
          COOK BETTER,<br>
          WHEREVER SHOP OUR<br>
          COOKWARE SETS.
        </div>
        <div class="desc">
          Our cookware is designed to look—and cook—better as a set. Save on a lifetime of meals and memories with our cookware sets.
        </div>
        <a href="" class="more">SHOW NOW</a>
      </div>
        <img class="bg-img" src="/public/images/banner.jpg" alt="">
    </section>
    <section class="section page1 one">
      <div class="text-container fadeInDown">
        <div class="title">
          COOK BETTER,<br>
          WHEREVER SHOP OUR<br>
          COOKWARE SETS.
        </div>
        <div class="desc">
          Our cookware is designed to look—and cook—better as a set. Save on a lifetime of meals and memories with our cookware sets.
        </div>
        <a href="" class="more">SHOW NOW</a>
      </div>
        <img class="bg-img" src="/public/images/banner.jpg" alt="">
    </section>
    <section class="section page1 one">
      <div class="text-container fadeInDown">
        <div class="title">
          COOK BETTER,<br>
          WHEREVER SHOP OUR<br>
          COOKWARE SETS.
        </div>
        <div class="desc">
          Our cookware is designed to look—and cook—better as a set. Save on a lifetime of meals and memories with our cookware sets.
        </div>
        <a href="" class="more">SHOW NOW</a>
      </div>
        <img class="bg-img" src="/public/images/banner.jpg" alt="">
    </section>
    <section class="section footer">
      <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
    </section>
  </div>
  
</body>

</html>