<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <h1 class="page-title">Cookware</h1>
  <section class="product-container">
    <div class="product-swiper swiper-container">
      <ul class="product-list swiper-wrapper">
        <li class="product-item swiper-slide">
          <a href="product_list.html">
            <div class="img">
              <img src="/public/images/product-cate.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">铁锅系列</div>
              <div class="desc">这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介</div>
            </div>
          </a>
        </li>
        <li class="product-item swiper-slide">
          <a href="product_list.html">
            <div class="img">
              <img src="/public/images/product-cate.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">铁锅系列</div>
              <div class="desc">这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介</div>
            </div>
          </a>
        </li>
        <li class="product-item swiper-slide">
          <a href="product_list.html">
            <div class="img">
              <img src="/public/images/product-cate.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">铁锅系列</div>
              <div class="desc">这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介</div>
            </div>
          </a>
        </li>
        <li class="product-item swiper-slide">
          <a href="product_list.html">
            <div class="img">
              <img src="/public/images/product-cate.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">铁锅系列</div>
              <div class="desc">这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介</div>
            </div>
          </a>
        </li>
        <li class="product-item swiper-slide">
          <a href="product_list.html">
            <div class="img">
              <img src="/public/images/product-cate.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">铁锅系列</div>
              <div class="desc">这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介</div>
            </div>
          </a>
        </li>
        <li class="product-item swiper-slide">
          <a href="product_list.html">
            <div class="img">
              <img src="/public/images/product-cate.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">铁锅系列</div>
              <div class="desc">这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介信息，这里是系列的简介</div>
            </div>
          </a>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
      <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>