<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <div id="fullpage">
      <section class="section page1">
        <div class="text-container fadeInDown">
          <div class="title">
            WHO WE ARE.
          </div>
          <div class="desc">
            <p>
              FINEX is a small team of Portland based craftspeople, cooks and designers dedicated to crafting cookware
              that will stand the test of time.
            </p>
            <p>
              Our work is inspired by the hardworking history of American cast iron and grounded in our belief that
              cooking should be genuine—an experience you value and share with others. It’s these simple ideals that
              guide us as we reinvent cast iron cookware with modern design to enhance the life of every cook.
            </p>
          </div>
        </div>
        <img class="bg-img" src="/public/images/banner-story.jpg">
      </section>
      <section class="section page1">
        <div class="text-container fadeInDown bottom">
          <div class="title">
            WHO WE ARE.
          </div>
          <div class="desc">
            <p>
              FINEX is a small team of Portland based craftspeople, cooks and designers dedicated to crafting cookware
              that will stand the test of time.
            </p>
            <p>
              Our work is inspired by the hardworking history of American cast iron and grounded in our belief that
              cooking should be genuine—an experience you value and share with others. It’s these simple ideals that
              guide us as we reinvent cast iron cookware with modern design to enhance the life of every cook.
            </p>
          </div>
        </div>
        <img class="bg-img" src="/public/images/banner-story.jpg">
      </section>
      <section class="section page1">
        <div class="text-container fadeInDown top">
          <div class="title">
            WHO WE ARE.
          </div>
          <div class="desc">
            <p>
              FINEX is a small team of Portland based craftspeople, cooks and designers dedicated to crafting cookware
              that will stand the test of time.
            </p>
            <p>
              Our work is inspired by the hardworking history of American cast iron and grounded in our belief that
              cooking should be genuine—an experience you value and share with others. It’s these simple ideals that
              guide us as we reinvent cast iron cookware with modern design to enhance the life of every cook.
            </p>
          </div>
        </div>
        <img class="bg-img" src="/public/images/banner-story.jpg">
      </section>
      <section class="section footer">
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
      </section>
    </div>

</body>

</html>